name: Release Windows.

on: [push]

jobs:

  check:
    if: "!(contains(github.event.head_commit.message, '[skip ci]'))"
    name: Parse parameters
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.parse.outputs.build }}
      ref: ${{ steps.parse.outputs.ref }}
      update: ${{ steps.parse.outputs.update }}
      packer: ${{ steps.parse.outputs.packer }}
      telegram: ${{ steps.parse.outputs.telegram }}
      installer: ${{ steps.parse.outputs.installer }}
      description: ${{ steps.parse.outputs.description }}
      cache: ${{ steps.parse.outputs.cache }}

    steps:
      - name: Clone scripts.
        uses: actions/checkout@v2
      - name: Parse commit description
        id: parse
        uses: actions/github-script@0.9.0
        with:
          github-token: ${{ secrets.RELEASE_TOKEN }}
          script: |
            const path = require('path');
            const currentBuild = "windows";
            const scriptPath = path.resolve('./scripts/option_parser.js');
            require(scriptPath)({github, context, currentBuild});

  build:
    name: Build on latest Windows
    needs: check
    if: needs.check.outputs.build == 'true'
    runs-on: windows-latest
    env:
      SDK: "10.0.18362.0"
      VC: "call vcvars32.bat && cd Libraries"
      GIT: "https://github.com"
      QT: "5_12_8"
      QT_VER: "5.12.8"
      OPENSSL_VER: "1_1_1"
      ONLY_CACHE: "false"
      MANUAL_CACHING: "2"
      DOC_PATH: "docs/building-msvc.md"
      REPO_NAME: "kotatogram-desktop"
      REPO_CHECKOUT_NAME: "kotatogram/kotatogram-desktop"
      AUTO_CACHING: "1"

    steps:
      - name: Allow long file paths.
        run: git config --system core.longpaths true

      - name: Clone.
        uses: actions/checkout@v2
        with:
          repository: ${{ env.REPO_CHECKOUT_NAME }}
          submodules: recursive
          path: ${{ env.REPO_NAME }}
          ref: ${{ needs.check.outputs.ref }}

      - name: Clone scripts.
        if: env.ONLY_CACHE == 'false'
        uses: actions/checkout@v2
        with:
          path: buildscripts

      - name: Parse current version.
        shell: bash
        run: ./buildscripts/scripts/parse_version.sh

      - name: Setting up updater keys.
        if: >
          needs.check.outputs.update
          && needs.check.outputs.packer
        env:
          PACKER_PRIVATE_KEY: ${{ secrets.PACKER_PRIVATE_KEY }}
          PACKER_PRIVATE_BETA_KEY: ${{ secrets.PACKER_PRIVATE_BETA_KEY }}
        run: python buildscripts/scripts/updater_keys.py

      - name: Set up environment variables.
        shell: cmd
        run: |
          echo ::add-path::C:\Strawberry\perl\bin\
          echo ::add-path::"%programfiles%\NASM"

          C:
          cd "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\"
          echo ::add-path::%cd%

          call vcvars32.bat
          D:
          cd %GITHUB_WORKSPACE%
          msbuild -version > CACHE_KEY.txt
          echo %MANUAL_CACHING% >> CACHE_KEY.txt

          mkdir Libraries
          cd Libraries
          echo ::set-env name=LibrariesPath::%cd%

      - name: Generate cache key.
        shell: bash
        run: |
          if [ "$AUTO_CACHING" == "1" ]; then
            thisFile=buildscripts/.github/workflows/win-release.yml
            echo `md5sum $thisFile | awk '{ print $1 }'` >> CACHE_KEY.txt
          fi
          echo ::set-env name=CACHE_KEY::`md5sum CACHE_KEY.txt | awk '{ print $1 }'`

      - name: Choco installs.
        run: |
          choco install --no-progress -y nasm yasm jom ninja

      - name: Patches.
        shell: bash
        run: |
          echo "Find necessary commit from doc."
          checkoutCommit=$(grep -A 1 "cd patches" $REPO_NAME/$DOC_PATH | sed -n 2p)
          cd $LibrariesPath
          git clone $GIT/desktop-app/patches.git
          cd Patches
          eval $checkoutCommit

      - name: LZMA.
        shell: cmd
        run: |
          %VC%

          git clone %GIT%/telegramdesktop/lzma.git
          cd lzma
          cd C\Util\LzmaLib
          msbuild -m LzmaLib.sln /property:Configuration=Release

      - name: OpenSSL cache.
        id: cache-openssl
        if: ${{ needs.check.outputs.cache }}
        uses: actions/cache@v2
        with:
          path: ${{ env.LibrariesPath }}/openssl_${{ env.OPENSSL_VER }}
          key: ${{ runner.OS }}-${{ env.CACHE_KEY }}-${{ env.OPENSSL_VER }}
      - name: OpenSSL.
        if: steps.cache-openssl.outputs.cache-hit != 'true'
        shell: cmd
        run: |
          %VC%

          git clone %GIT%/openssl/openssl.git openssl_%OPENSSL_VER%
          cd openssl_%OPENSSL_VER%
          git checkout OpenSSL_%OPENSSL_VER%-stable
          perl Configure no-shared no-tests debug-VC-WIN32
          nmake
          mkdir out32.dbg
          move libcrypto.lib out32.dbg
          move libssl.lib out32.dbg
          move ossl_static.pdb out32.dbg\ossl_static
          nmake clean
          move out32.dbg\ossl_static out32.dbg\ossl_static.pdb
          perl Configure no-shared no-tests VC-WIN32
          nmake
          mkdir out32
          move libcrypto.lib out32
          move libssl.lib out32
          move ossl_static.pdb out32

          rmdir /S /Q test
          rmdir /S /Q .git

      - name: Zlib.
        shell: cmd
        run: |
          %VC%

          git clone %GIT%/telegramdesktop/zlib.git
          cd zlib
          git checkout tdesktop
          cd contrib\vstudio\vc14
          msbuild -m zlibstat.vcxproj /property:Configuration=ReleaseWithoutAsm

      - name: OpenAL Soft cache.
        id: cache-openal
        if: ${{ needs.check.outputs.cache }}
        uses: actions/cache@v2
        with:
          path: ${{ env.LibrariesPath }}/openal-soft
          key: ${{ runner.OS }}-openal-soft-${{ env.CACHE_KEY }}
      - name: OpenAL Soft.
        shell: cmd
        if: steps.cache-openal.outputs.cache-hit != 'true'
        run: |
          %VC%

          git clone %GIT%/telegramdesktop/openal-soft.git
          cd openal-soft
          git checkout fix_capture
          cd build
          cmake ^
          -G "Visual Studio 16 2019" ^
          -A Win32 ^
          -D LIBTYPE:STRING=STATIC ^
          -D FORCE_STATIC_VCRT:STRING=ON ..

          msbuild -m OpenAL.vcxproj /property:Configuration=Release

      - name: Opus cache.
        id: cache-opus
        if: ${{ needs.check.outputs.cache }}
        uses: actions/cache@v2
        with:
          path: ${{ env.LibrariesPath }}/opus
          key: ${{ runner.OS }}-opus-${{ env.CACHE_KEY }}
      - name: Opus.
        if: steps.cache-opus.outputs.cache-hit != 'true'
        shell: cmd
        run: |
          %VC%

          git clone %GIT%/telegramdesktop/opus.git
          cd opus
          git checkout tdesktop
          cd win32\VS2015
          msbuild -m opus.sln /property:Configuration=Release /property:Platform="Win32"

      - name: FFmpeg cache.
        id: cache-ffmpeg
        if: ${{ needs.check.outputs.cache }}
        uses: actions/cache@v2
        with:
          path: ${{ env.LibrariesPath }}/ffmpeg
          key: ${{ runner.OS }}-ffmpeg-${{ env.CACHE_KEY }}-2-${{ hashFiles('**/build_ffmpeg_win.sh') }}
      - name: FFmpeg.
        if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
        shell: cmd
        run: |
          %VC%
          choco install --no-progress -y msys2

          git clone %GIT%/FFmpeg/FFmpeg.git ffmpeg
          cd ffmpeg
          git checkout release/3.4
          set CHERE_INVOKING=enabled_from_arguments
          set MSYS2_PATH_TYPE=inherit
          call c:\tools\msys64\usr\bin\bash --login ../../%REPO_NAME%/Telegram/Patches/build_ffmpeg_win.sh

          rmdir /S /Q .git

      - name: Qt 5.12.8 cache.
        id: cache-qt
        if: ${{ needs.check.outputs.cache }}
        uses: actions/cache@v2
        with:
          path: ${{ env.LibrariesPath }}/Qt-${{ env.QT_VER }}
          key: ${{ runner.OS }}-qt-${{ env.CACHE_KEY }}-${{ hashFiles('**/qtbase_5_12_8/*') }}
      - name: Configure Qt 5.12.8.
        if: steps.cache-qt.outputs.cache-hit != 'true'
        shell: cmd
        run: |
          %VC%

          git clone git://code.qt.io/qt/qt5.git qt_%QT%
          cd qt_%QT%
          perl init-repository --module-subset=qtbase,qtimageformats
          git checkout v%QT_VER%
          git submodule update qtbase
          git submodule update qtimageformats
          cd qtbase
          for /r %%i in (..\..\patches\qtbase_%QT%\*) do git apply %%i
          cd ..

          SET SSL=%LibrariesPath%\openssl_%OPENSSL_VER%
          SET LIBS=libcrypto.lib Ws2_32.lib Gdi32.lib Advapi32.lib Crypt32.lib User32.lib

          configure ^
          -prefix "%LibrariesPath%\Qt-%QT_VER%" ^
          -release ^
          -opensource ^
          -confirm-license ^
          -static ^
          -static-runtime -I "%SSL%\include" ^
          -no-opengl ^
          -openssl-linked ^
          OPENSSL_LIBS_DEBUG="%SSL%\out32.dbg\libssl.lib %SSL%\out32.dbg\%LIBS%" ^
          OPENSSL_LIBS_RELEASE="%SSL%\out32\libssl.lib %SSL%\out32\%LIBS%" ^
          -mp ^
          -nomake examples ^
          -nomake tests ^
          -platform win32-msvc
      - name: Qt 5.12.8 build.
        if: steps.cache-qt.outputs.cache-hit != 'true'
        shell: cmd
        run: |
          %VC%
          cd qt_%QT%

          jom -j%NUMBER_OF_PROCESSORS%
          jom -j%NUMBER_OF_PROCESSORS% install

          cd ..
          rmdir /S /Q qt_%QT%

      - name: WebRTC cache.
        id: cache-webrtc
        uses: actions/cache@v2
        with:
          path: ${{ env.LibrariesPath }}/tg_owt
          key: ${{ runner.OS }}-webrtc-${{ env.CACHE_KEY }}
      - name: WebRTC.
        if: steps.cache-webrtc.outputs.cache-hit != 'true'
        shell: cmd
        run: |
          %VC%

          :: Qt libjpeg.
          mkdir qt_%QT%
          cd qt_%QT%
          git clone -b %QT_VER% https://github.com/qt/qtbase

          move qtbase\src\3rdparty\libjpeg ..
          cd ..
          dir
          rmdir /S /Q qt_%QT%
          mkdir qt_%QT%\qtbase\src\3rdparty\
          move libjpeg qt_%QT%\qtbase\src\3rdparty\

          :: WebRTC.
          cd %LibrariesPath%

          git clone %GIT%/desktop-app/tg_owt.git
          mkdir tg_owt\out\Release
          cd tg_owt\out\Release
          cmake -G Ninja ^
          -DCMAKE_BUILD_TYPE=Release ^
          -DTG_OWT_SPECIAL_TARGET=win ^
          -DTG_OWT_LIBJPEG_INCLUDE_PATH=%cd%/../../../qt_%QT%/qtbase/src/3rdparty/libjpeg ^
          -DTG_OWT_OPENSSL_INCLUDE_PATH=%cd%/../../../openssl_%OPENSSL_VER%/include ^
          -DTG_OWT_OPUS_INCLUDE_PATH=%cd%/../../../opus/include ^
          -DTG_OWT_FFMPEG_INCLUDE_PATH=%cd%/../../../ffmpeg ^
          ../..

          ninja

          :: Cleanup.
          cd %LibrariesPath%\tg_owt
          move out\Release\tg_owt.lib tg_owt.lib
          rmdir /S /Q out
          mkdir out\Release
          move tg_owt.lib out\Release\tg_owt.lib

          cd %LibrariesPath%
          rmdir /S /Q qt_%QT%

      - name: Kotatogram Desktop build.
        if: env.ONLY_CACHE == 'false'
        shell: cmd
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
        run: |
          cd %REPO_NAME%\Telegram
          
          call configure.bat ^
          -D TDESKTOP_API_ID=%API_ID% ^
          -D TDESKTOP_API_HASH=%API_HASH% ^
          -D DESKTOP_APP_DISABLE_AUTOUPDATE=%UPDDEFINE% ^
          -D KTGDESKTOP_ENABLE_PACKER=%PACKERDEFINE% ^
          -D DESKTOP_APP_USE_PACKAGED=OFF ^
          %TDESKTOP_BUILD_DEFINE% ^
          -DCMAKE_SYSTEM_VERSION=%SDK%

          call vcvars32.bat
          cd ..\out
          msbuild -m Telegram.sln /nologo /p:Configuration=Debug,Platform=Win32

      - name: Move artifact.
        if: env.ONLY_CACHE == 'false'
        shell: bash
        env:
          tag_name: ${{ needs.check.outputs.display_version }}
        run: |
          cd $REPO_NAME

          artifact_name=${{ env.VERSION_STR }}.zip
          echo ::set-env name=ARTIFACT_NAME::$artifact_name

          mkdir -p artifact/Kotatogram
          mv build/bin/Kotatogram.exe artifact/Kotatogram
          ${{ needs.check.outputs.update }} && mv build/bin/Updater.exe artifact/Kotatogram

          cd artifact
          7z a $artifact_name Kotatogram

      - name: Upload artifact.
        uses: actions/upload-artifact@v2
        if: env.ONLY_CACHE == 'false'
        with:
          path: ./${{ env.REPO_NAME }}/artifact/Kotatogram
          name: Binary
      
      - name: Install dependencies for Telegram uploader.
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.telegram
        run: pip install telethon cryptg

      - name: Upload binary to Telegram.
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.telegram == 'true'
        env:
          TELETHON_API_ID: ${{ secrets.TELETHON_API_ID }}
          TELETHON_API_HASH: ${{ secrets.TELETHON_API_HASH }}
          TELETHON_SESSION: ${{ secrets.TELETHON_SESSION }}
        run: >
          python buildscripts/scripts/uploader.py
          "@ktgbuilds"
          "${{ env.REPO_NAME }}/artifact/${{ env.ARTIFACT_NAME }}"
          "${{ needs.check.outputs.description }}"

      - name: Make installer.
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.installer == 'true'
          && needs.check.outputs.update == 'true'
        shell: cmd
        run: >
          iscc
          /DReleasePath=%cd%\${{ env.REPO_NAME }}\artifact\Kotatogram
          /DMyAppVersion=${{ env.VERSION_STR }}
          /DMyAppVersionFull=${{ env.VERSION_STR_FULL }}
          "%cd%\${{ env.REPO_NAME }}\Telegram\build\setup.iss"

      - name: Upload installer artifact.
        uses: actions/upload-artifact@v2
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.installer == 'true'
        with:
          path: ./${{ env.REPO_NAME }}/artifact/Kotatogram/ksetup.${{ env.VERSION_STR_FULL }}.exe
          name: Installer

      - name: Upload installer to Telegram.
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.telegram == 'true'
          && needs.check.outputs.installer == 'true'
          && needs.check.outputs.update == 'true'
        env:
          TELETHON_API_ID: ${{ secrets.TELETHON_API_ID }}
          TELETHON_API_HASH: ${{ secrets.TELETHON_API_HASH }}
          TELETHON_SESSION: ${{ secrets.TELETHON_SESSION }}
        run: >
          python buildscripts/scripts/uploader.py
          "@ktgbuilds"
          "${{ env.REPO_NAME }}/artifact/Kotatogram/ksetup.${{ env.VERSION_STR_FULL }}.exe"
          "${{ needs.check.outputs.description }}"

      - name: Package update.
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.update == 'true'
          && needs.check.outputs.packer == 'true'
        shell: bash
        run: |
          cd $REPO_NAME

          ./build/bin/Packer.exe -version ${{ env.VERSION_NUM }}${{ env.PACKER_BETA }} \
          -path artifact/Kotatogram/Kotatogram.exe \
          -path artifact/Kotatogram/Updater.exe
          
          tar -caf tupdate${{ env.VERSION_NUM }}.tar.xz tupdate${{ env.VERSION_NUM }}

      - name: Upload update artifact.
        uses: actions/upload-artifact@v2
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.update == 'true'
          && needs.check.outputs.packer == 'true'
        with:
          path: ./${{ env.REPO_NAME }}/tupdate${{ env.VERSION_NUM }}
          name: Update file

      - name: Upload update to Telegram.
        if: >
          env.ONLY_CACHE == 'false'
          && needs.check.outputs.update == 'true'
          && needs.check.outputs.packer == 'true'
          && needs.check.outputs.telegram == 'true'
        env:
          TELETHON_API_ID: ${{ secrets.TELETHON_API_ID }}
          TELETHON_API_HASH: ${{ secrets.TELETHON_API_HASH }}
          TELETHON_SESSION: ${{ secrets.TELETHON_SESSION }}
        run: >
          python buildscripts/scripts/uploader.py
          "@ktghbcfiles"
          "${{ env.REPO_NAME }}/tupdate${{ env.VERSION_NUM }}"
          "${{ needs.check.outputs.description }}"
